[2019-04-24 11:21] rvagg opened #1 ""Experimental" status and success criteria"
You'll note that this project is labelled "Experimental". That's because it can't exist as an unloved child of the Build WG, it needs to stand on its own; therefore it needs a community of maintainers. Currently only my name is on the README, but that needs to grow by adding people who are contributing fixes and improvements and not just issues for me to take care of. Ideally I could remove my nam

[2019-04-26 08:53] bertlea commented on #1
Thank you rvagg!  It is a kind of good news to me as I am using Node.js on all my Raspberry Pi Zero-W.  I just tried the v12.0.0 on one of my Pi Zero, and it runs fine so far.  I think it is also important to the Raspberry Pi community.  Because not only the Pi Zero/Zero-W runs on arm6, the distro: "Raspberry Pi Desktop for PC and Mac" (Debian) only got the 32-bit x86 currently.  Unfortunately, my

[2019-04-30 16:12] joaocgreis opened #2 "Windows unofficial builds"
Since ARM64 Windows was recently added as experimental, it would be good to have builds for testing available somewhere. It is not possible to build these releases in the current unofficial-builds server because they must be built in ARM64 Windows systems, and we don't yet have enough machines to dedicate one for this.

I plan to create a job in test CI to just build a release, from which the arti

[2019-04-30 19:11] refack commented on #2
🚀

[2019-04-30 23:28] rvagg commented on #2
yep, I imagined being able to have some kind of upload hook for alternative builds, it just needs some way of integrating with the promotion process, perhaps similar to how we do staging->dist promotion with cron for non-release builds on nodejs.org. If you want to do it manually for now then that'd be fine too.

[2019-05-01 08:42] fivdi opened #3 "Add link to unofficial builds to download page"
At the bottom of the Node.js [download page](https://nodejs.org/en/download/) there is a list of links:

- Signed SHASUMS for release files (How to verify)
- All download options
- Installing Node.js via package manager
- Previous Releases
- Nightly builds
- Node-ChakraCore Nightly builds
- Building Node.js from source on supported platforms
- Installing Node.js via binary archive on Linux

It wou

[2019-05-01 10:45] rvagg commented on #3
I've been a little hesitant to do this given the potential impermanence indicated in #1, but a bit of promotion could help that I suppose.
The list is generated here: https://github.com/nodejs/nodejs.org/blob/master/layouts/partials/download-list.hbs, so you could try putting in a PR to that repo to adjust it, the catch is the internationalisation since those strings are all pulled from config in

[2019-05-02 00:42] joaocgreis commented on #2
First release done, from https://ci.nodejs.org/view/All/job/build-release-windows-arm64/1/ to https://unofficial-builds.nodejs.org/download/release/v12.1.0/. I'll do this manually for now, there are still a lot of moving parts  in ARM64 Windows support. If we don't get it to Tier 2 support soon, I'll look into automating the process somehow.

[2019-05-02 00:42] #2 closed

[2019-05-02 01:32] rvagg commented on #2
I had further thoughts about automation for builds that can't be done on a Linux x64 host: a staging login for each different build type, mirroring the system we use on nodejs.org but isolating each build host to a separate unprivileged login that can only place files onto the server. Then an automatic promotion process can fetch the files, with predictable (fixed) names from a specific place and

[2019-05-10 09:07] fivdi commented on #3
The link to the unofficial builds was added to the download page with https://github.com/nodejs/nodejs.org/commit/3ecc78cab2d11f849263f2175fc2cc19136b9466

[2019-05-10 09:07] #3 closed

[2019-05-30 14:23] Folorunsho-Yusuf opened #4 "installation of Unofficial Build"
Good Day,
how do i install the unofficial build after extracting?, i am currently having problem installing it.

[2019-05-30 14:56] refack commented on #4
If you are familiar with [`nvm`](https://github.com/nvm-sh/nvm), you could try
[code]

[2019-06-23 09:15] ekce commented on #4
This worked for me:
[code]

[2019-06-24 01:58] rvagg commented on #4
I use a variation of this for my own purposes in some places: https://gist.github.com/rvagg/742f811be491a49ba0b9
if you want to install bare then you could use that and replace nodejs.org with unofficial-builds.nodejs.org and make sure it gets 'arch' correct (that may need some hardwiring).
Or use the NVM solution above.

[2019-06-24 02:04] rvagg opened #5 "Permissions and ownership of this repo"
I forgot to set up permissions properly before I resigned from the TSC, so I no longer have write or admin access here. I'm just not sure exactly what structure to request.

My name is on the README as the only maintainer and so far I've not managed to attract any other maintainer interest. #1 suggests that it might get closed down if it doesn't get any more help. Maintenance burden has been much

[2019-06-24 02:08] sam-github commented on #5
I gave build admin access, I don't think anyone will abuse that, and since that means you have admin access, I guess you can now rearrange perms as you see fit, @rvagg

[2019-06-24 02:21] #4 closed

[2019-07-16 15:54] mitra42 opened #6 "Documentation for installing"
This is a great project - and as one of the platforms we'd like to support  [dweb-mirror](https://github.com/internetarchive/dweb-mirror) is the 32-bit Rachel box, its timely.

BUT ... needs some docs,  similarity to `nodejs.org/download` doesn't help those of us  used to getting our node installations with apt-get, I couldn't figure out how to install these binaries.

Note that I'm not a node dev

[2019-07-17 04:19] rvagg commented on #6
Pull requests to edit the www directory are welcome. Web dev isn't my forte but would love to have someone help make it more presentable.

There is already a link from https://nodejs.org/en/download/ to it fwiw, but that just goes to the downloads directory. If we had a nicer index page then we could make it link to that.

Let us know how these builds go for you, feedback would be appreciated!

[2019-07-17 05:42] mitra42 commented on #6
I'm sorry, I'd love to give feedback but I was serious, I have zero idea how to install one of these builds, since I normally use `apt-get` to get node on the smaller platforms (which often don't have web browsers).

That's the documentation I was requesting, and I can't write a PR for the docs, without knowing how to do it in the first place !

But ... since this was closed, I guess I'm not the t

[2019-07-17 23:46] rvagg commented on #6
OK, I get your point, sorry for the premature close.

So these binaries are the same style as available on nodejs.org, you'd install them the same was as you'd install those. But if you're using a third-party source (such as an apt repo) then, yeah, I can understand why it might not be straightforward.

The simplest way is to grab the tarball you want, linux-x86 in your case (e.g. https://unoffici

[2019-07-18 04:38] mitra42 commented on #6
Super - I'm in SF for Dweb Camp at the moment, and the 32-bit box is back in Australia so will try it out in a couple of weeks and let you know.

[2019-07-25 07:45] nschonni opened #7 "SHASUMS256.txt.asc is missing from release folder"
Maybe this is by design, but was looking at leveraging it on the docker-node setup

[2019-07-25 07:49] nschonni opened #8 "Trigger an unofficial-build for the latest Node 8?"
I think if there is another 8 release it should show up automatically, but it would be good if the last 8.16.0 release could be triggered for the unofficial builds

[2019-07-25 08:40] rvagg commented on #7
By design because there's not a human to sign them, it's automatic. So your assurance is the bare SHASUMS and the https certificate, you can't get any more than that from an automatic process unfortunately.

[2019-07-25 08:40] #7 closed

[2019-07-25 09:28] rvagg commented on #8
👍
https://unofficial-builds.nodejs.org/download/release/v8.16.0/
can we avoid doing a 6 though?

[2019-07-25 09:28] #8 closed

[2019-07-25 12:36] nschonni commented on #8
Thanks! I think just the current LTS makes sense

[2019-12-14 21:09] avicndugu commented on #4
I  used this on lubuntu and it worked.

This worked for me:

NVM_NODEJS_ORG_MIRROR=https://unofficial-builds.nodejs.org/download/release nvm install

[2019-12-31 23:29] asottile opened #11 "`latest` symlink"
The directory structure of https://unofficial-builds.nodejs.org/download/release/ is very similar to that of http://nodejs.org/dist/ but does not provide a `latest` symlink

I'd be happy to contribute this, I'm poking around the files in `bin` currently but may need some direction

[2020-01-01 00:13] asottile commented on #11
actually, I don't need this it seems

I was using `/dist/latest` but it turns out I can just as easily parse `index.json` in `/download/release` -- this is consistent across nodejs.org / iojs.org / unofficial-builds.nodejs.org 🎉

thanks again for these builds, super helpful (alpine)

[2020-01-01 00:13] #11 closed

[2020-01-01 01:52] rvagg commented on #11
^ for the record, the lack of `latest` is intentional. It's a holdover from long ago that shouldn't be used but is now impossible to remove because people are using it. index.json and index.tab should be the only mechanisms you use to discover "latest".

Examples of using it:
* https://gist.github.com/rvagg/742f811be491a49ba0b9
* https://github.com/nodesource/distributions/blob/master/snap/snapcra

[2020-01-01 01:56] asottile commented on #11
makes total sense, I'm converting a popular tool `nodeenv` to use those files: https://github.com/ekalinin/nodeenv/pull/247

[2020-01-27 00:04] deftdawg opened #14 "Statically linked binaries for armv6"
It would be very helpful if we could get statically linked node binaries to run on systems with older versions of libc/glibc.

``./configure --fully-static`` can be used to build statically linked versions of node binaries.

I have built static node arm5 on an X86_64 using qemu-arm-static using the above flag, however they only run on arm7 because of the illegal instruction problem described [here

[2020-01-27 02:30] rvagg commented on #14
I'm not too keen on this, fully static is not something we test at all in Node's CI and I don't know what the implications are going to be for compiling addons against the binary either. Plus, it'll make the binary very large too.

How old is the system you're trying to run on? Is it not feasable to update the base system? At some point you have to bite the bullet because it becomes increasingly i

[2020-01-27 04:54] deftdawg commented on #14
no worries, I understand... I'm off in the woods using Ubuntu Mavericks (glibc 2.11) on a Tesla Model S.   I can make something newer run in a chroot, but I'd prefer to do static link if I can.

I'll continue to tinker, feel free to close this as won't fix.

[2020-01-27 05:09] rvagg commented on #14
Wow, yeah support for maverick ended 2012 so you're stretching it pretty hard there.

Will close for now but happy to hear from other people that may have similar needs. It's hard to balance all the factors involved but it's useful to know anecdotally what people are wanting out of these builds.

[2020-01-27 05:09] #14 closed

[2020-02-20 06:21] nschonni opened #15 "13.9.0 folder only contains headers"
Not sure if the CI got stuck somewhere, but the Alpine and ARM builds look like they didn't get triggered

[2020-02-20 10:32] rvagg commented on #15
it's the zlib source tarball problem https://unofficial-builds.nodejs.org/logs/202002182057-v13.9.0/x86.log https://github.com/nodejs/node/issues/31858, not much we can do about it, will have to wait for the next release

[2020-02-20 10:32] #15 closed

[2020-03-26 16:53] dusan-ivanco opened #16 "Very slow first start on Raspberry PI Zero"
This unofficial amrv6l version (12 and 13) is very slow on rPI0

First start after boot node -e "console.log('Node.js loaded');" takes over 2 min
Official build (11) is ok

[2020-03-26 23:16] rvagg commented on #16
@bnoordhuis any chance you can provide hints for debugging this?

I don't have a zero running at the moment, but on a Pi 1 B+, which isn't too different from a zero:

[code]

So I can't replicate the problem myself.

[2020-03-27 01:46] gengjiawen opened #17 "add debug build"
We discussed this in [today's Release WG meeting](https://github.com/nodejs/Release/pull/556) and the consensus of the Release WG is that this should first be attempted as an https://unofficial-builds.nodejs.org/ / https://github.com/nodejs/unofficial-builds/ project.

@MylesBorins may be able to help with storage via Google credits.

_Originally posted by @richardlau in https://github.com/nodejs/

[2020-03-27 01:48] gengjiawen commented on #17
The github workflow should be like this(https://github.com/gengjiawen/node-github-workflow/blob/master/.github/workflows/CI.yml)

I guess xz format will be much better ? cc @rvagg

[code]

[2020-03-27 02:43] rvagg commented on #17
7z, xz .. I think I'd prefer xz because it's more common, but I've just discovered I have 7z on my Ubuntu 18.04 machine which I guess it came with so maybe it's not too bad a choice.

The way to pull this off is to make a new folder in the recipes folder and make a Dockerfile to set up an image to build the file and also a run.sh to perform the build. Copying the x86 one might be a good start:

*

[2020-03-27 06:40] dusan-ivanco commented on #16
Which hints do you need for debbuging?

I have buildroot and my time is

real	2m9.900s
user	0m1.199s
sys	0m0.153s

now i see, that official build 10 have same problem as your 12 and 13
for me only official build 11 is working as expected

[2020-03-27 06:40] dusan-ivanco commented on #16
BR2_arm=y
BR2_arm1176jzf_s=y
BR2_ARM_EABIHF=y

BR2_PACKAGE_HOST_LINUX_HEADERS_CUSTOM_4_19=y
BR2_TOOLCHAIN_BUILDROOT_CXX=y

BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_CUSTOM_TARBALL=y
BR2_LINUX_KERNEL_CUSTOM_TARBALL_LOCATION="$(call github,raspberrypi,linux,64d0a9870ac14d5eb5253f67d984ae348eec1393)/linux-64d0a9870ac14d5eb5253f67d984ae348eec1393.tar.gz"
BR2_LINUX_KERNEL_DEFCONFIG="bcmrpi"
BR2_LINUX_KERNEL_

[2020-03-27 11:35] bnoordhuis commented on #16
@dusan-ivanco Can you post the output of `strace -T -tt node -e "console.log('Node.js loaded');"`? If it's too unwieldy, insert `-o trace.log` before `-T` to capture it to file.

It could be that it's stuck trying to read from e.g. `/dev/urandom`; strace will show that.

[2020-03-27 15:50] dusan-ivanco commented on #16
Yes, you are right

16:44:29.145641 getpid()                = 380 <0.000074>
16:44:29.158906 getrandom("\x20\xcf\x03\x1c\x96\x5e\x77\x9f\x41\xf3\xf5\xe6\x7e\xcd\x88\x96\x65\x4c\xf8\x96\x86\x77\x88\x2b\xb3\x2f\x1a\x85\xed\x8d\xf6\xf9", 32, 0) = 32 <189.181546>
16:47:38.341138 getpid()                = 380 <0.000088>

but why? why build 11 is ok?

[2020-03-27 22:58] mmarchini commented on #17
If we're publishing a Debug build with the purpose of improving debugging experience on native add-ons, we should probably include `deps/v8/tools/gdbinit` and `deps/v8/tools/lldb_commands.py` in the bundle as well.

[2020-03-28 01:35] gengjiawen commented on #17
I am inclined not bundled them, I have a package has command to do such thing (only for lldb now).
https://github.com/gengjiawen/node-build

[code]

[2020-03-28 01:55] mmarchini commented on #17
Those scripts are highly dependant on V8 version, we can't use the script from v12 with v10 or vice versa, for example.

[2020-03-28 12:01] bnoordhuis commented on #16
It's an openssl bug that was fixed recently-ish - it didn't always wait until sufficient entropy is available. Node.js v11.x is out of support so it didn't (and won't) get the fix.

I'm going to close the issue because it's ultimately a problem with your system, not node. Google around for "getrandom slow" to find out more.

[2020-03-28 12:01] #16 closed

[2020-03-31 12:31] gengjiawen commented on #17
Maybe a script to directly to get the script from v8 repo. we can get version from `process.versions`.

[2020-03-31 13:05] gengjiawen commented on #17
Still not getting how to do this, my thinking is to build the Node.js core and copy to related folder (foler name should be the version).

[code]

[2020-04-01 00:24] rvagg commented on #17
@gengjiawen do you mean for unofficial-builds or for the scripts @mmarchini is talking about?

For unofficial-builds, `cp -a x86 linux-x64-debug` and edit the contents of those files to make it do a debug binary and we'll go from there. We might need to rethink that name for what we want it to be in the downloads directory.

[2020-04-01 00:30] mmarchini commented on #17
FWIW I don't think we should block anything because of the scripts, we can add it later if we want to (I can do it once we have the build recipe).

[2020-04-01 03:00] gengjiawen commented on #17
Nope, I tried to build the debug part, but still not get how to do it. I am not familiar with bash.

Is there an easy way, the build part is easy https://github.com/nodejs/unofficial-builds/issues/17#issuecomment-606613882.

But I have no clue integrate it with current system.

[2020-04-01 03:16] mmarchini commented on #17
@gengjiawen do you mind if I give it a try?

[2020-04-01 03:22] mmarchini opened #18 "Pointer compression build for v14"
I think this would be helpful to get input from the community on performance impact of pointer compressions so we can make an informed decision on https://github.com/nodejs/TSC/issues/790. This build should only be made available to v14, because [until V8 8.0 pointer compressions are not considered a stable feature and have extra performance overhead as well as bugs](https://groups.google.com/d/ms

[2020-04-01 03:25] gengjiawen commented on #17
Not at all, go ahead :)

[2020-04-01 14:49] jdtsmith commented on #4
And if you use `n`, you can do, e.g.:

[code]

Collecting these recipes for a `How to Install` section on the front page might be helpful to people.

[2020-04-01 15:37] bnielsen1965 commented on #4
I have a shell script I use to install official and unofficial nodejs builds.

https://github.com/bnielsen1965/nodejs-install

It provides for multiple versions and supports linux systems with alternatives or simple symlinks.

[2020-04-02 00:52] rvagg commented on #18
@mmarchini that's correct, but we're going to need it at some point so you're welcome to hack such a feature in there. I'm just waiting for x86 or armv6 to be finally dead from something V8 or Node does and refuses to reverse and it stops them working here and I have to scramble to make a version selector work. There's also going to be cases where a recipe needs to switch based on version - like u

[2020-04-04 06:14] mmarchini commented on #17
Well, it's going  to be less straightforward than I thought, since the target we usually use for releases assumes the build is, well, a `Release`:

https://github.com/nodejs/node/blob/master/Makefile#L1163-L1185

[2020-04-06 05:39] rvagg commented on #17
Yeah, that's a bit of a doozy, _but_ I think all of the stuff in Makefile that builds these should be relatively easy to replace in a run.sh script.

What are the resulting assets from this recipe are we aiming for? A single `node` debug binary, a tarball like a normal linux-x64 but debug? a collection of things to mixin with a normal tarball from nodejs.org? How much of that make-tarball-from-bin

[2020-04-23 19:14] #18 closed

[2020-06-02 19:34] mhart opened #22 "Release built versions as they build"
This is a feature request more than anything – is it possible to have the releases copied over to the downloads area (immediately) after they build?

At the moment, they need to wait for all subsequent builds to finish. Eg, the x86 build finished over 30 minutes ago, but has to wait for musl (now finished) and armv61 (still building) before it will be available for download

I'd also love the musl

[2020-06-03 02:36] rvagg commented on #22
iirc I did that because the first part is a pipeline that requires download of source tarball to be first before the rest can run, but that's really not a good reason not to just publish as they spit out and I don't think there's a blocker to that other than just doing the work. Maybe you could have a look at the scripts and suggest modifications to speed it up? For me it's a problem of popping th

[2020-10-01 23:05] TooTallNate opened #23 "Some "files" are missing from `index.json`"
For example, [`v14.13.0` release directory](https://unofficial-builds.nodejs.org/download/release/v14.13.0/) contains:

[code]

So I would expect the `index.json` file to have a "files" array matching:

[code]

However, it [only contains "headers" and "linux-armv6l"](https://unofficial-builds.nodejs.org/download/release/index.json) for some reason:

[code]

[2020-10-01 23:21] richardlau commented on #23
I think it's because the "missing" files were never official releases so aren't known to the indexer: https://github.com/nodejs/nodejs-dist-indexer/blob/a3a6653a1135d4824a370fb56b510f4bbf3ce4a4/transform-filename.js#L2-L36

[2020-10-02 06:37] rvagg commented on #23
proposed fix @ https://github.com/nodejs/nodejs-dist-indexer/pull/13

[2020-10-14 03:50] rvagg commented on #23
took a bit but it's a new dist-indexer is published and is working now

[code]

https://unofficial-builds.nodejs.org/download/release/index.json
https://unofficial-builds.nodejs.org/download/release/index.tab

[2020-10-14 03:50] #23 closed

[2020-11-05 12:04] jakubzitny opened #24 "Mac builds support"
Hi there, is there a plan to support macOS unofficial builds at some point? Macs are going the be getting ARM chips as well, so having this might be interesting. I guess you wouldn't wanna pay extra mac VM in the cloud. If there was a chance to get a machine for you guys, would you consider?

[2020-11-05 15:17] nschonni commented on #24
There are some issues tracking this in the "official" builds trackers https://github.com/nodejs/build/issues/2474 and https://github.com/nodejs/TSC/issues/886

[2020-11-05 21:42] jakubzitny commented on #24
Yeah, I know, but even now I don't see any mac builds (non-ARM) in this repository. So my question was more general. Whether there is a willingness to go this road. And yeah, once Node.js officially supports Apple Silicon, that could be included as well.

[2020-11-05 21:57] rvagg commented on #24
@jakubzitny yes, it's coming, but it won't be in this repository, it'll be via nodejs.org as official releases, and the tracking of that will mostly be done over in https://github.com/nodejs/build/issues/2474

[2020-11-05 21:57] #24 closed

[2021-03-16 19:40] zFlux opened #25 "Musl Contains a Security Issue up to v1.2.1"
According to [openwall](https://www.openwall.com/lists/musl/2020/11/19/1) musl contains a security bug up to v1.2.1 that needs patching or update to > v1.2.2

[2021-03-18 04:55] rvagg opened #26 "TODO: Upgrade Alpine base"
This is a TODO for someone who wants to change the recipe Dockerfiles to make them work with newer Alpine, and test that they can still build Node.js properly. `fetch-source`, `musl` and `headers` all use `FROM alpine:3.9`. To test an upgrade, you'd need to switch the `FROM`, build images, then run containers in a way that executes their build tasks. It might be a little involved to make it work l

[2021-03-18 04:56] rvagg commented on #25
It'd be interesting to find out if it appears in our binaries at all.

I don't think this is a major issue for us anyway, since this exists in musl and I don't think we're shipping anything static such that we're shipping code with an insecure implementation, rather that the library it calls contains an insecure implementation so it's the host that needs to be updated.

But, we're still building w

[2021-03-18 04:56] #25 closed

[2021-03-18 04:56] rvagg commented on #25
also, thanks for notifying us! this wasn't on my radar at all.

[2021-03-29 20:31] LaurentGoderre commented on #26
Would be ok to produce both versions until we know that the new one works?

[2021-03-31 03:05] rvagg commented on #26
how would we name them? how would we get people to consume and test the new ones?

[2021-04-02 17:37] LaurentGoderre commented on #26
We could use the new one in the docker image. It would be a lot less risky to upgrade if we have the other version to rollback to if there's a problem

[2021-04-20 08:27] breun opened #27 "Musl-based NodeJS won't start on Alpine Linux without libstdc++"
The musl-based NodeJS tarball doesn't work on a vanilla Alpine Linux image out of the box:

[code]

It seems NodeJS needs Alpine's `libstdc++` package to be installed:

[code]

Is this already documented somewhere? If not, what would be a good spot?

[2021-04-20 14:53] nschonni commented on #27
There are already the official images https://github.com/nodejs/docker-node that show how it needs to be setup (even if you don't want to pull them for some reason)

[2021-04-20 16:15] breun commented on #27
I see https://github.com/nodejs/docker-node/blob/main/Dockerfile-alpine.template indeed installs the `libstdc++`, but I don't generally don't come across a Dockerfile in another repository when I'm looking for documentation. :)

We could add a sentence/section about this requirement to the `README.md` in this repository?

[2021-04-21 01:57] nschonni opened #28 "Node 16 Apline builds"
Might just be a bit backed up, but there where a few files dropped in https://unofficial-builds.nodejs.org/download/release/v16.0.0/ awhile ago, but not the musl binaries.
Not sure if it's related to the recent release machine issue, or if the CI is just chugging along and it's a patience thing.

[2021-04-21 04:39] rvagg commented on #28
Yep, it's borked, `python3` is missing. See logs for each build @ https://unofficial-builds.nodejs.org/logs/202104201637-v16.0.0/

Someone's going to have to go through all the Dockerfiles in https://github.com/nodejs/unofficial-builds/tree/master/recipes and get `python3` into them. I'll get around to it sometime if nobody else does but have too much else on my plate right now.

[2021-04-21 04:51] rvagg commented on #27
That's a great idea @breun, would you mind PR'ing that?

[2021-04-21 04:51] nschonni commented on #28
Right, it looks like we did it this way for the docker-node setup https://github.com/nodejs/docker-node/pull/1331/files, but that's generating the Dockerfiles before they get built

[2021-04-21 13:50] Smirl commented on #28
This is causing pre-commit to fail for me.

Specifically because of the missing binaries here: https://unofficial-builds.nodejs.org/download/release/v16.0.0/

Compared to here: https://unofficial-builds.nodejs.org/download/release/v15.9.0/

[2021-04-22 04:57] #28 closed

[2021-04-22 07:06] #27 closed

[2021-04-22 07:09] rvagg commented on #28
16.0.0 builds are out, get em while they're fresh 🍰

[2021-05-01 13:35] folkertm opened #32 "on debian i386, emmintrin.h:630:1 broke my build"
Has Debian now defected to the traitors? Node.js is only available in version 10.XYZ unsolved.or.whatever! However, to use, build, etc. webpass, Node.js >=12 requirement with result install v12.22.1 failed! The thing is, it dutifully built happily for more than an hour and then this: _mm_set1_epi64x(i64)
What has a 64 bit function got to do with an i386 architecture. Probably not rolled out cleanl

[2021-05-01 15:35] folkertm commented on #32
Now using node v12.0.0 (npm v6.9.0)
Creating default alias: default -> v12.0.0

[2021-05-01 15:50] folkertm commented on #32
folkert@strshp:~/git/keeweb/keeweb$ npm run
Lifecycle scripts included in keeweb:
  start
    grunt
  test
    grunt test

available via `npm run-script`:
  build-beta
    grunt --beta && cp dist/index.html ../keeweb-beta/index.html && cd ../keeweb-beta && git add index.html && git commit -a -m 'beta' && git push origin master
  electron
    cross-env KEEWEB_IS_PORTABLE=0 ELECTRON_DISABLE_SECURITY

[2021-05-01 15:56] #32 closed

[2021-05-01 15:57] folkertm commented on #32
I'm closing the issue, I don't care if 12.22.1 is a problem.

[2021-05-02 12:19] folkertm commented on #32
I do not want to understate my success here!
![grafik](https://user-images.githubusercontent.com/488740/116812872-56174b80-ab51-11eb-9a58-a7f5bb2c86ae.png)

[2021-06-14 21:13] oh2fhf commented on #4
Thank you so much, this made my day!

[2021-06-17 19:39] mhdawson opened #35 "Rename primary branch to main"
We are going through all of the node.js repositories to rename the primary branch to main. Please see nodejs/node#33864 for more context.

There are some references to the master branch in the files so I think I'll need some help in doing the update. @richardlau is that something you can help with?

[2021-07-05 07:56] xmikus01 opened #37 "Broken build due to OpenPGP key servers problem"
Latest versions of all supported branches aren't uploaded correctly (empty directory):
- https://unofficial-builds.nodejs.org/download/release/v16.4.1/
- https://unofficial-builds.nodejs.org/download/release/v14.17.2/
- https://unofficial-builds.nodejs.org/download/release/v12.22.2/

There are problem with OpenPGP keys according to logs:
- https://unofficial-builds.nodejs.org/logs/202107011543-v16

[2021-07-05 10:56] oznu opened #38 "Unofficial builds for v14.17.2"
I've noticed the unofficial builds for v14.17.2 haven't been published yet.

https://unofficial-builds.nodejs.org/download/release/v14.17.2/

Are these still expected?

[2021-07-05 15:07] #37 closed

[2021-07-05 15:14] richardlau commented on #38
I've merged https://github.com/nodejs/unofficial-builds/pull/39 and requeued builds for 16.4.1, 14.17.2 and 12.22.2.

There will also likely be builds out later today to fix a regression in the Windows installer.

[2021-07-05 23:22] oznu commented on #38
Thanks @richardlau!

[2021-07-05 23:22] #38 closed

[2021-08-30 10:32] pb5050 opened #43 "windarm64"
did you guys stop doing the winarm64>?

hasnt had a release since feb

[2021-09-02 02:53] rvagg commented on #43
No, it's just a manual process since we don't have permanent hardware. Main discussion is happening over @ https://github.com/nodejs/build/issues/2540 if you want to follow that.

Maybe @joaocgreis has time to run a manual build and upload of a recent release or two?

[2021-09-02 02:54] #43 closed

[2021-09-03 12:22] joaocgreis commented on #43
The most recent builds are v14.17.5 and v16.6.2. I post in https://github.com/nodejs/build/issues/2450 when I publish them.

[2021-09-13 14:49] richardlau commented on #35
@mhdawson I can do this.

[2021-09-13 16:08] mhdawson opened #44 "Rename primary branch to main"
We are going through all of the node.js repositories to rename the primary branch to main. Please see nodejs/node#33864 for more context.

I also don't see any references to master in the repo I don't think there should be issues with the rename.

@richardlau since you seem active in this repo could you confirm that there should be no issues with the rename?

[2021-09-13 16:13] richardlau commented on #44
Duplicate of https://github.com/nodejs/unofficial-builds/issues/35

[2021-09-13 16:13] #44 closed

[2021-09-30 18:55] gxldCptRick opened #45 "SSL Certificate is Expired"
Hi I am reaching out since one of my dependencies are using the build you maintain and it looks like the SSL certificate has expired.

[2021-09-30 20:25] richardlau commented on #45
Which URL are you trying to download? https://unofficial-builds.nodejs.org/ is on a rolling Let's Encrypt certificate. It's possible there is some fall out from the expired DST Root CA X3 (https://community.letsencrypt.org/t/help-thread-for-dst-root-ca-x3-expiration-september-2021/149190) but AFAICT from accessing the site via FireFox our certificate is chaining to the ISRG Root X1 replacement.
![

[2021-10-09 18:22] nschonni opened #46 "16.11.0 build failed"
https://unofficial-builds.nodejs.org/logs/202110081710-v16.11.0/fetch-source.log
Looks like it pulled the keys then hit a missing file and failed out
[code]

[2021-10-11 01:35] #46 closed, assigned to nobody

[2021-10-16 23:58] nschonni opened #47 "Status/tab on ci.nodejs.org"
Maybe not possible since I don't think this is leveraging any of the other Jenkins setup from the nodejs/build setup.
Was just thinking that it would be nice to have a tab there for the unofficial jobs to see the status over just looking at the logs folder as they go. That might not be possible though, without the jobs looking more "official" than you want.

[2021-10-17 00:09] richardlau commented on #47
Yeah this project doesn't use Jenkins (ci.nodejs.org or otherwise) at all -- it runs as described (https://github.com/nodejs/unofficial-builds#how) via the Docker containers and shell scripts in this repository and triggered by systemd timers and https://www.npmjs.com/package/github-webhook.

[2021-10-18 02:41] rvagg commented on #47
it wouldn't be hard to script up and plug in to the existing process; it's largely bash and cron strung together so wouldn't be hard to insert a bit more of the same to get you a status page that's updated as it progresses in real-time or near real-time

[2021-10-18 07:51] cl4udiu5 opened #48 "The certificate of "unofficial-builds.nodejs.org" has expired / is not trusted"
<img width="736" alt="Bildschirmfoto 2021-10-18 um 09 40 42" src="https://user-images.githubusercontent.com/74124378/137689871-5877b625-cc90-454d-bc06-9dba6edd63b6.png">

[2021-10-18 07:55] #48 closed

[2021-10-18 08:33] rvagg commented on #48
@cl4udiu5 do you know what distro and version you're running? `lsb_release -a` should tell you. If you're not using an unsupported version then upgrading the system _should_ help you out - `sudo apt-get update && sudo apt-get dist-upgrade -y`.

[2021-12-17 17:54] nschonni commented on #35
I opened up https://github.com/nodejs/build/pull/2831 for the hook

[2022-01-17 22:28] maur1th opened #50 "Availability of linux-arm64-musl packages?"
Since the project ships linux-x64-musl packages, are there any plans to start building linux-arm64-musl packages?

[2022-01-18 05:20] rvagg commented on #50
No, but that's certainly a possibility. Are you aware of any numbers of musl-based arm64 usage that we could use as a gauge for how popular this might be (and therefore how worthwhile it would be to maintain it?).

Have a look at https://github.com/nodejs/unofficial-builds/tree/master/recipes for how we build these things and consider how practical it might be to do this on an x64 host (i.e. we'd

[2022-01-18 06:10] nschonni commented on #50
We leave it up to the official images Jenkins setup to build those images/architecture combos. The do build, but i'm not sure if they are some of the "unstable" builds in their CI

[2022-01-27 15:18] maur1th commented on #50
Thanks for the replies. We switched our images to debian based ones instead.

[2022-01-27 15:18] #50 closed

[2022-02-05 22:41] kobrigo opened #51 "Trying to install nodejs on Raspberry Pi 3 B+ using nvm. arm71 build is missing"
I was able to install it a year a go.
I've install version:
  v7.10.1
  v8.17.0
  v10.15.3
  v14.15.4

but this does not work any more looking at the directory I could not locate the arm71 versions. were they removed?

[2022-02-06 01:52] richardlau commented on #51
armv7l binaries are still part of the official releases available from https://nodejs.org/en/download/.

[2022-02-06 10:59] kobrigo commented on #51
@richardlau I was able to download the binaries (..tar.xz file) from nodejs.org. but I could not do it using nvm on my RPI 3 with arm71 CPU. So this could be my mistake as this repo is not directly related to nvm. there is a post that helped my in the past adding this repo as the source of binaries. I see now that there is a newer version of nvm and I'm using an older version. I'll close this for

[2022-02-06 10:59] #51 closed

[2022-03-16 17:16] nschonni opened #52 "16.14.1 looks stalled"
Not sure if it's related to the 500 error issue reported early on in the nodejs.org repo, but I think it might need to be re-triggered

[2022-03-17 00:00] richardlau commented on #52
I've manually queued it again as per https://github.com/nodejs/unofficial-builds/#manual-build-triggers.

[2022-03-17 03:10] nschonni commented on #52
Looks like the re-queuing worked, thanks!

[2022-03-17 03:10] #52 closed

[2022-03-18 02:55] chriszarate opened #53 "16.14.2 and 17.7.2 are stuck/stalled"
Hello!

Node.js released security updates today:
https://nodejs.org/en/blog/vulnerability/mar-2022-security-releases/

`12.22.1` and `14.19.1` built successfully.

I don't see any logs for for `16.14.2`:
https://unofficial-builds.nodejs.org/logs/

The build for `17.7.2` started but looks stalled:
https://unofficial-builds.nodejs.org/logs/202203180226-v17.7.2/build.log

[2022-03-18 03:05] nschonni commented on #53
17.7.2 is running. if you refresh https://unofficial-builds.nodejs.org/logs/202203180226-v17.7.2/ you'll see the musl log currently growing. Only one build runs at a time AFAIK, so I think 16.14.2 will start after it is done

[2022-03-18 03:39] #53 closed

[2022-04-08 10:59] sxa opened #55 "Increase disk space on unofficial-builds.nodejs.org"
As part of trying to add RISC-V support, I ran out of space on the server. It looks like it only has about 1Gb left, which wasn't enough for me to create a docker image, let alone build anything on it. Space use is as follows - the machine only has a 100GB disk attached:

- 51Gb in the `download` directory
- 7.7Gb in use by Docker
- 8Gb in use by `staging`
- 26Gb in use by `ccache` (Roughly 4½Gb p

[2022-04-08 17:24] nschonni opened #56 "17.9.0 build has stalled"
https://unofficial-builds.nodejs.org/logs/202204072300-v17.9.0/ looks like the arm build stalled out and there was nothing promoted to the download folder

[2022-04-11 01:22] nschonni commented on #56
@sxa not sure if the risc stuff killed the jobs on Friday, but it would be good if you could take a look at this when you're back on your work-day time

[2022-04-11 12:49] sxa commented on #56
Unlikely - I removed the docker image I'd put on there which is all I'd done. I'd imaging it's over the edge on disk space since there's only 1Gb free

[2022-04-11 14:57] sxa commented on #47
@rvagg Has there been much discussion about potentially using jenkins for running/triggering the unofficial builds? Is it related to the ACLs being differnet between the people maintaining the unofficial-builds server and who has access to jenkins jobs?

[2022-04-11 14:58] sxa commented on #55
We've also got a lot of prerelease builds in `download/rc` (14Gb) so that might be a good candidate for pruning

[2022-04-12 11:43] sxa commented on #56
I've cleared some stuff out of staging/src and that has allowed it to work so hopefully once all the platforms have built (they're in progress now) that will allow it to send to the download directory - the process requires about 2Gb free in the file system to be able to build and push a new version out.

[2022-04-12 12:01] sxa commented on #55
If we want to continue with the current server we should probably consider dropping the shipping of `tar.gz` versions and only shipping `tar.xz` and seeing if anyone objects - they're just ove half the size of the `gz` versions so that would save us over 60% for much of the download space.

[2022-04-12 12:20] targos commented on #55
`node-gyp` uses the `gz` header files, probably because Node.js doesn't support the `xz` format natively.

@ljharb what about `nvm` ?

[2022-04-12 12:26] sxa commented on #55
Yeah that's why it wasn't too much of a surprise when I saw that almost none of the header downloads were `xz` :-)
I've just ran `nvm` on one of my systems and it's pulling a `tar.xz`, but it looks like most other downloads are of a `tar.gz` so I don't think we can change that just now.

[2022-04-12 12:29] targos commented on #55
It seems that `actions/setup-node` uses the `tar.gz`: https://github.com/actions/setup-node/blob/56337c425554a6be30cdef71bf441f15be286854/src/installer.ts#L288-L289

[2022-04-12 12:36] targos commented on #55
Ah sorry, I didn't realize this discussion was only about unofficial builds.

[2022-04-12 13:57] jbergstroem commented on #55
`gz` is also streaming whereas `xz` isn't; good for certain use-cases.

Sorry for the quiet. I will take a look at the machine today and see what I can come up with.

I think the long term strategy of all our hosted downloads shoudl be moving forward with using s3-like storage from our sponsors, then proxy it with cloudfalre and perhaps a https -> http proxy for "unencrypted" use-cases. This will

[2022-04-12 14:20] ljharb commented on #55
nvm prefers xz when available, but it’s often not, so it still uses the gz.

nvm doesn’t install unofficial builds without the user extensively opting in tho, so I’d have no problem with those going xz-only.

[2022-04-12 14:48] nschonni commented on #56
Thanks @sxa ! Build completed and the bot was able to open up the PR in docker-node

[2022-04-12 14:48] #56 closed

[2022-04-12 18:15] richardlau commented on #55
I don't think we need to keep the source tarballs once the build completes -- they're not copied into downloads (and don't need to be because they are the same source tarballs for the official releases). Even if we were to rerun builds for a release, https://github.com/nodejs/unofficial-builds/tree/master/recipes/fetch-source would download fresh copies of the source tarball.

[2022-04-12 20:21] jbergstroem commented on #55
Just revisited this; seems like most client libraries / cli's now does streaming. It didn't back in the day it was added. Thanks for following up!

[2022-04-13 08:48] sxa commented on #55
Exactly what I was thinking - on that basis since there have bene no objections I'll look at getting a clear-up process in place for them.

[2022-04-19 03:54] rvagg commented on #55
Late to the party but I don't mind completely nuking /rc/ from unofficial-builds, we have no promises of longevity here (I don't think anything on that server is even backed up!). You could do it time-based if you want.

You can also nuke the current ccache directories if you want to temporarily regain some space. Perhaps ccache could be removed entirely from the build process, they're less useful

[2022-04-19 05:02] nschonni commented on #55
I wonder if throwing the binaries up on GitHub Releases on this repo makes sense as a "backup". I don't think that could completely get away from having the "dist", since I think things like NVM rely on the same layout as the regular downloads

[2022-04-19 05:07] ljharb commented on #55
I don't think github releases would really suffice, indeed, because nvm definitely relies on every dist-like folder having the same layout as dist.

What I'm really confused by is why there's so much difficulty consistently serving static content - in a given release, the number of files changing is very small, and the rest of the files should never need to be touched again. Effectively, `/dist` e

[2022-04-19 05:14] nschonni commented on #55
Probably true, but I think you're talking about https://github.com/nodejs/nodejs.org/issues/4495 rather the the unofficial builds

[2022-04-19 05:15] ljharb commented on #55
@nschonni oh sorry, you're right. i think it's somewhat related tho, since most static content serving solutions these days have effectively infinite disk space :-)

[2022-04-19 05:45] rvagg commented on #55
@ljharb got a friend at AWS you could intro us to so we can get sponsorship for an _infinite_ S3 bucket?

main difficulty is in the balance between what we have gratis and what we're willing to pay for .. and paying for stuff vs chasing sponsorship is a bit of a slippery slope that leads to a lot of $$ for the foundation

there's also the technical hassle of redirecting/mounting or changing URLs f

[2022-04-19 05:48] rvagg commented on #47
@sxa no, but one of the intentions of this project was to keep it lightweight (technically and in terms of SLA) and arms-length from the existing Build team. It's "unofficial" in multiple senses. If we start tangling it up with the rest of the infra are we signing up for more maintenance burden for the team? At the moment it's a bit like nodejs/snap, if it breaks, then the Build team doesn't have

[2022-04-19 06:08] ljharb commented on #55
Thanks, that clarifies - although I think it'd still be useful to quantify what S3 usage (or other alternatives) would actually cost OpenJS, just in case it's something budgetable.

The work involved in making a change is also a very good point, thanks.

[2022-04-19 10:01] sxa commented on #55
+1 - That would be my 'first step' - keep the last 5 or something and remove the rest. I'll look at that. What's your feeling on the "real" downloads? I'm still tempted as a minimum to remove e.g. the `.tar.gz` versions and leave the `.xz` of anything that isn't the latest in any given major release line.

Yeah I did consider reducing them to, say 2Gb each. I created the RISC-V one with a lower ca

[2022-04-19 11:34] rvagg commented on #55
I'm not super keen on this option tbh, it's like crippling existing offerings, maybe worse than just deleting them—although I think I'd prefer to try and expand storage space than nuke standard downloads at this stage. Let's go with the low hanging fruit already identified and work on expanding capacity.

Migrating to github releases, maybe in this repo, might be a good option for unofficial-build

[2022-04-19 11:58] sxa commented on #55
Yep agree that increasing the space is the better option at the moment. Although I don't think i have access to the DO console to do anything with that (Not sure who does)

[2022-04-22 17:21] sxa commented on #55
Realistically file system configuration would depend on the hosting provider so I'd personally be a bit reluctant to put anything specific to device names etc. into the playbooks since they wouldn't necessarily be the same if we set it up on another server. My intention was just to remount it on e.g. `/home/nodejs/download` after moving the current data over - I'm happy to take on that data migrat

[2022-04-22 17:56] richardlau commented on #55
I was thinking about https://github.com/nodejs/build/blob/c9210efa59d6e93f89c49e9ca3d3f2f7aa7d5ba0/ansible/roles/unofficial-builds/tasks/main.yml#L67 which creates the `/home/nodejs/download` directory but on reflection I guess that would no-op if it already exists.

[2022-05-06 14:29] nschonni opened #58 "14.19.2 builds not completed"
Not sure if it's related to the space issues, but it seems like the this release is stalled https://unofficial-builds.nodejs.org/logs/202205041713-v14.19.2/

[2022-05-06 15:57] richardlau commented on #58
It looks like fetch-source failed to find Juan's key:
https://unofficial-builds.nodejs.org/logs/202205041713-v14.19.2/fetch-source.log
[code]

Locally for me the first query (to openpgp.org) works 😕.

[2022-05-06 16:18] richardlau commented on #58
🤷 I'll queue 14.19.2 again and see if the problem persists.

[2022-05-06 16:20] richardlau commented on #58
Well fetch-source has at least completed this time 🤷. Builds in progress 🤞.
https://unofficial-builds.nodejs.org/logs/202205061618-v14.19.2/

[2022-05-06 17:59] nschonni commented on #58
Not sure if the pointer compression job has stalled out with a zero bit log for awhile. Is the disk full again and stalling?

[2022-05-06 18:26] richardlau commented on #58
Yes, looks like it unfortunately.
https://unofficial-builds.nodejs.org/logs/202205061618-v14.19.2/musl.log
[code]

I did add a larger disk to the server (https://github.com/nodejs/unofficial-builds/issues/55#issuecomment-1106700360) but it's not set up for use.

[2022-05-09 15:04] sxa commented on #55
Current status with https://github.com/nodejs/unofficial-builds/issues/58 unable to complete:

So if anything slightly less than was in use previously.

[2022-05-09 15:31] richardlau commented on #35
@rvagg When we tried to deploy https://github.com/nodejs/build/pull/2831 via Ansible to the unofficial-builds server we got stuck on the `github_deploy_webhook_secret` -- eventually we "cheated" by reading it off the machine from the `unofficial-builds-deploy-webhook.json` file. Is the secret in secrets? We couldn't find it.

[2022-05-09 15:55] sxa commented on #55
New 1TB disk has been mounted on `/home/nodejs/download/release` and is live with a copy of the previous contents. The old directory is still in `/home/nodejs/download-release-55` on the server, albeit with some things removed to make space for 14.9.2 - we can clear that up after a few days after confirming that the server is working properly.

[2022-05-09 15:55] #55 closed

[2022-05-09 18:05] nschonni commented on #58
Looks like the builds finished and the auto PR got created https://github.com/nodejs/docker-node/pull/1718
Thanks @sxa and @richardlau !

[2022-05-09 18:05] #58 closed

[2022-05-10 05:09] rvagg commented on #35
uh, I can't see it in secrets. I can see it in a local host_vars file I have but that's obviously not helpful and other than in an inventory.yml in secrets I'm not sure where else it could be. I haven't really got into the habit of using inventory.yml in secrets for anything other than jenkins tokens, using the secrets workflow for inventory stuff is all new fangled for me who's been used to just

[2022-05-10 07:59] sxa commented on #58
np - the server has more space available now so the problem shouldn't recur 👍🏻

[2022-05-10 11:21] richardlau commented on #35
@rvagg yes, you can put the variable in the inventory in secrets and it'll work. I'm happy to update (I'll go and do so) -- we just weren't sure if we were missing something and it was already there -- neither @mhdawson nor myself have access to the github-bot part of secrets so we weren't sure if perhaps it was in there (sounds like it isn't there at all).

For completeness sake (FYI) I did add a

[2022-06-02 18:04] nschonni opened #60 "Retrigger 17.9.1 build"
There was a glitch uploading the shasums originally so the original build failed https://unofficial-builds.nodejs.org/logs/202206020213-v17.9.1/fetch-source.log
Could someone requeue this please?

[2022-06-03 20:25] nschonni commented on #60
@sxa @richardlau any chance one of you can trigger this? that way we can release the last 17 release and trim out the images from the docker-node repo

[2022-06-04 00:12] nschonni commented on #60
Thanks, enjoy the Jubilee 😄

[2022-06-04 10:57] sxa commented on #60
Looks to be live now at https://unofficial-builds.nodejs.org/download/release/v17.9.1/ so I'm closing this.

[2022-06-04 10:57] #60 closed

[2022-08-26 04:08] robdejonge commented on #6
Apologies for hijacking this issue, but my challenge is also that I am not understanding the steps to achieve a compiled version. I've cloned the repo, went into the armv6l directory and did 'docker build .' and the container successfully built. But ... now what!? I've tried running the container, but that doesn't seem to achieve anything. What am I meant to do to proceed with this?

[2022-08-26 15:05] joroddy opened #61 "got v6.7.1 has a medium (CVE-2022-33987) Prisma vulnerability associated with nodejs v14.20.0"
got v6.7.1 has a medium (CVE-2022-33987) Prisma vulnerability associated with nodejs v14.20.0. We're using the latest for nodejs14 which is v14.20.0. Please upgrade got to the latest to remediate the Prisma vulnerability associated with nodejs v14.20.0. Thank you!

[2022-08-26 16:09] bnielsen1965 commented on #6
@mitra42 As an additional reference, I have a bash script I use to install and switch between multiple versions of nodejs. [https://github.com/bnielsen1965/nodejs-install](https://github.com/bnielsen1965/nodejs-install). It takes care of the download if needed and will use "alternatives" if that is the method provided on the host system, otherwise it uses symlinks.

[2022-08-26 23:32] nschonni commented on #61
A vulnerable NPM package wouldn't be addressed in this repo.

[2022-08-27 00:23] #61 closed

[2022-08-27 08:40] robdejonge commented on #6
Thanks @bnielsen1965 for the effort put into writing that script. It worked a charm on my Pi Zero W. Awesome!

[2022-11-03 22:51] jacobdr opened #64 "Support for ARM + musl"
The [official project builds](https://nodejs.org/download/release/v19.0.0/) builds for ARM (to be honest I'm not sure what the `node-v19.0.0-linux-armv7` and `node-v19.0.0-linux-arm64` is), and this project builds for `musl` on `x86_64`.

It would be great if this project could start to build `musl` for `arm`, in the hopes that eventually we could stabilize this and maybe promote to the official b

[2022-11-03 22:58] jacobdr commented on #64
Herm I guess this is a duplicate of #50 (with its associated PR #59)...

[2022-11-03 22:58] #64 closed

[2022-11-05 04:52] nschonni opened #65 "14.21.1 security release build stalled"
Looks like the fetch source job failed https://unofficial-builds.nodejs.org/logs/202211042053-v14.21.1/fetch-source.log

[code]
That in turn is blocking the docker-node auto-pr for the other release lines

[2022-11-07 13:25] nschonni commented on #65
@richardlau @rvagg not sure if someone can trigger this build again

[2022-11-07 22:05] nschonni commented on #65
@sxa do you have access to reque this? This is blocking the rollout of the security releases for Docker

[2022-11-08 14:18] nschonni commented on #65
@nodejs/build anyone else has access to requeue the job

[2022-11-08 14:19] sxa commented on #65
I was on vacation yesterday so didn't see it - I'll take a look at it now.

[2022-11-08 14:21] targos commented on #65
It's a bit concerning that the Docker releases rely on unofficial builds.

[2022-11-08 14:28] sxa commented on #65
Queued and running now.
@nschonni Which of the unofficial builds are mandatory for (thus blocking) the docker releases? I see the musl ones referenced in the linked issue but is that the only one?

[2022-11-08 14:29] nschonni commented on #65
The musl one is the only one used by Docker

[2022-11-08 16:29] nschonni commented on #65
Build succeeded and the automation is working again. Thanks!

[2022-11-08 16:43] sxa commented on #65
Closing, although we should consider the implications of the dependencies of the unofficial builds process in light of this.

[2022-11-08 16:43] #65 closed

[2022-11-14 03:40] rvagg commented on #65
Perhaps we need to give @nschonni or someone else on the docker-node WG access to the machine to trigger rebuilds?